{% extends 'base.html' %}

{% block title %}
  {{ course.course_code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Courses</a></li>
  <li class="breadcrumb-item active">{{ course.course_code }}</li>
{% endblock %}

{% block content %}


{% for grade in grades %}

<hb>
<p>
<span>|   Name:    </span>
<span> {{grade.name_course_work}}</span>
<span>|   Grade:   </span>
<span>{{ grade.grade }}</span>
<span>|   Weight:  </span>
<span>{{ grade.weight }}</span>
<hb>
</p>
{%endfor%}



<form method="post">
  {% csrf_token %}

  <input type="text" name="assignment">
  <input type="number" name="grade1">
  <input type="number" name="weight">

  <button type="submit" class="btn btn-success">Add</button>

{% endblock %}
