{% extends 'base.html' %}


{% block content %}

<div class='container'>

  <div class="table-responsive">
    <table class="table" id="course_table">

          <tr class="table_header bg-primary text-white">
            <th>Name Course Work</th>
            <th>Points</th>
            <th>Out of</th>
            <th>Weight</th>

          </tr>
          {% for grade in grades %}
          <tr class ='table_rows'>
            <td>{{ grade.name_course_work }}</td>
            <td>{{ grade.grade }}</td>
            <td>{{ grade.weight }}</td>
            <td>{{ grade.course}} </td>
            <th><button class='btn btn-danger'>Delete</button></th>
          </tr>
          {% endfor %}

    </table>
  </div>
</div>


<div class="container">

    <form method="post" class = 'form-inline'>
      {% csrf_token %}
      <div class='row'>
      <label for="coursecode" class="sr-only">Password</label>
      <div class = "col-sm"><input type="text" required="required" name="assignment" placeholder='Course Work' class="form-control" id="corsecode"></div>
      <div class = "col-sm"><input type="number" step="0.01" name="assignment1" placeholder='Points' class="form-control" id="corsecode"></div>
      <div class = "col-sm"><input type="number" step="0.01" required="required" name="grade1" placeholder='Out Of' class="form-control" id="corsecode" ></div>
      <div class = "col-sm"><input type="number" step="0.01" required="required" name="weight" placeholder='Weight' class="form-control" id="corsecode" ></div>
      <div class = "col-sm"><button type="submit" required="required" class="btn btn-primary mb-2">Add Course Work</button></div>
      </div>
    </form>

</div>

{% endblock %}
