{% extends 'base.html' %}


{% block content %}


<div class='container'>

  <div class="table-responsive">
    <table class="table" id="course_table">

          <tr class="table_header bg-primary text-white">
            <th>Course</th>
            <th>Average</th>
          </tr>
          {% for course in courses %}
          <tr class ='table_rows'>
            <td> <a href="{% url 'courses_page' course.pk %}">{{ course.course_code }}</a></td>
            <td>0</td>
          </tr>
          {% endfor %}

    </table>
  </div>
</div>

<div class="container">

    <form method="post" class = 'form-inline'>
      {% csrf_token %}
      <div class='row'>
      <label for="coursecode" class="sr-only">Password</label>
      <div class = "col-sm-4"><input type="text" required="required" name="course_code" placeholder='Course Code' class="form-control" id="corsecode"></div>
      <div class = "col-sm-4"><input type="text" required="required" name="course_name" placeholder='Course Description' class="form-control" id="corsecode" ></div>
      <div class = "col-sm-4"><button type="submit" required="required" class="btn btn-primary mb-2">Add Course</button></div>
      </div>
    </form>

</div>
{% endblock %}
