{% extends 'base.html' %}


{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Courses</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>
            <a href="{% url 'courses_page' course.pk %}">{{ course.course_code }}</a>
            <small class="text-muted d-block">{{ course.course_name }}</small>
          </td>
          <td class="align-middle">0</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<button type="submit" class="btn btn-success">Add Course</button>
  
{% endblock %}
